@charset "UTF-8";

.content-section {  position: relative;  min-width:1836px; background: #E4E9F7;  min-height: 100vh;  top: 0;  left: 78px;  width: calc(100% - 78px);  z-index: 2; }
.content-section .title { display: inline-block; color: #41495E; line-height: 32px; font-size: 22px; font-weight: 700;}
.content-section .title + .filter-box {margin-top:30px;}
.sidebar.open~.content-section { left: 250px; width: calc(100% - 250px);}
.content-section .header {height:70px; padding:0 30px; }

@media (max-width: 780px) {

}

/* contents */
.menu {display:flex; align-items: center;}
.menu > li i {color:#1D58FF}
.menu .dropdown-wrap {margin:0 20px 0 30px}
.menu .btn-menu {margin:0 10px}
.menu .btn-menu > * {position: relative;}

.searchbox .ico.search,
.menu .ico {display:inline-block; min-width:30px; width:30px; height:30px; vertical-align: middle;}
.profile-details {position:relative; display:inline-block; padding-right:20px;}
.profile-details .img,
.profile-details .name {display:inline-block; vertical-align: middle;}
.profile-details .img {width:34px; height:34px; border-radius:50%; }
.profile-details .name{margin-left:6px; font-weight:500; color: #818181; white-space: nowrap;}
.profile-details .arrow {background-color: #818181;}

.btn-drop {position:relative; }
.btn-drop .arrow:after {position:absolute; right:0; top:50%; margin-top:-3px; border-top-color: #818181; }

.cnt-box-wrap {display:flex; padding:30px;}
.cnt-box {padding:28px 20px; background:#fff; border-radius: 16px;}
.cnt-box.left {flex-basis: 380px; min-width: 340px}
.cnt-box.right {width:100%; margin-left:20px; }
.cnt-box:first-child:last-child {width:100%}
.cnt-box.left .btn-group {margin-top:52px}


.cnt-top {position: relative; margin-bottom:37px;}
.cnt-title {display:block; margin-top:7px; padding-right:120px; font-weight: bold; color: #7C8094;}
.cnt-top .cnt-title {font-size: 18px; line-height: 26px; }
.cnt-top .btn-bk-line {position: absolute; right:0; top:0; z-index: 1;}

.tbl-top {display:flex; justify-content: space-between; align-items: center; margin-bottom:15px}
.tbl-top .inp-select {min-width:130px}
.tbl-top .cnt-title {font-size: 16px; line-height: 23px; }
.tbl-top .btn {min-width: 90px}
.tbl-top .searchbox {width:420px}

.tbl-top.start {margin-bottom:24px; justify-content: flex-start;}
.tbl-top.start .title {margin-right:20px}

.cnt-box .filter-box {margin-bottom:36px; }
.cnt-box .filter-box .checkbox {display:inline-block; width:32%; font-size:14px; color:#414C5D}
.cnt-box .filter-box .checkbox:nth-child(-n + 3) {margin-bottom:12px;}
.cnt-box .filter-title {display: block;}
.filter-box {margin-bottom:17px; }


.inp-row {display:flex; justify-content: space-between;}
.inp-row .inp {width:49%}
.inp-row .inp + .inp-select {width:49%}
.inp-row .inp-select,
.row-list .inp-select {display:inline-block; width:130px; vertical-align: middle;}
.inp-row .inp-cal {display:inline-block; width:200px; margin-left:6px; vertical-align: middle;}
.inp-select .nice-select {width:100%; height:44px; line-height:42px; padding-left:12px; color:#9A9A9A}
.inp-select .nice-select:active, .inp-select .nice-select.open, .inp-select .nice-select:focus {border-color:#E7E7E7}
.inp-select .nice-select .list {width:100%; top:92%; border-top-left-radius: 0; border-top-right-radius: 0;}
.inp-select .nice-select .option {color:#41495D}
.inp-select .nice-select .option + .option {border-top:1px solid #E7E7E7}
.inp-select .nice-select .option:hover,
.inp-select .nice-select .option.focus,
.inp-select .nice-select .option.selected.focus{ background-color: #E1E5EF; color:#02164F}
.inp-select .nice-select:after { width:0;height:0; margin-top:-3px;
  border-top: 6px solid #999; border-left: 6px solid transparent;  border-right: 6px solid transparent; border-bottom:none;
  -webkit-transform: none; -ms-transform: none ;transform: none;  }
.inp-select .nice-select.open:after { -webkit-transform: rotate(-180deg); -ms-transform: rotate(-180deg) ;transform: rotate(-180deg);  }
.row-list {display:flex; }
.row-list > * + * {margin-left:10px;}
.row-list .inp{ width:280px;}

.filter-box .tab-radio-box {height:62px;}
.cnt-inner .tab-radio-box {height:44px;}
.cnt-inner .right .inner .data-empty-box  {height:calc(100% - 102px)}
.cnt-inner .right .tbl-top .btn-gray-line {font-size:13px}
.cnt-box-wrap .tbl-top .btn-bk {font-size:15px; min-width: auto; font-weight: 700;}

.tab-radio-box {width:100%; min-height:44px; border: 1px solid #E7E7E7;border-radius: 6px; text-align: center; font-size:0}
.tab-radio-box .tab {display:inline-table;  margin-left:0; width:25%; height:100%; line-height:20px; font-size:14px; box-sizing: border-box; vertical-align: middle;}
.tab-radio-box .tab:first-child input:checked + label{border-top-left-radius: 6px; border-bottom-left-radius: 6px;}
.tab-radio-box .tab:last-child input:checked + label{border-top-right-radius: 6px; border-bottom-right-radius: 6px;}
.tab-radio-box .tab + .tab {border-left:1px solid #E7E7E7}
.tab-radio-box .tab input {display:none}
.tab-radio-box .tab label {display:table-cell; width:100%; height:100%; background: #F7F7F7; vertical-align: middle; color:#7b7b7b}
.tab-radio-box .tab input:checked + label {background: #E1E5EF;border: 1px solid #02164F; font-weight:700; color:#02164F;}
.tab-radio-box.color .tab:nth-child(1) input:checked + label {border-color:#4475FF; background-color: #DAE4FF; color:#4475FF}
.tab-radio-box.color .tab:nth-child(2) input:checked + label {border-color:#1A947D; background-color: #DDF4F0; color:#1A947D}
.tab-radio-box.color .tab:nth-child(3) input:checked + label {border-color:#D99A20; background-color: #FFEBC4; color:#D99A20}
.tab-radio-box.color .tab:nth-child(4) input:checked + label {border-color:#7B7B7B; background-color: #DADADA; color:#7B7B7B}
.tab-radio-box.color .tab:nth-child(5) input:checked + label {border-color:#FF5555; background-color: #FFCACA; color:#FF5555}

.cnt-title .ico {margin-right:10px}
.manager-list .btn-manager-add,
.manager-list .btn-sel {margin-bottom:10px; }
.manager-list .btn-manager-add {margin-right:16px}
.manager-list .btn-sel {display:inline-flex; padding:0 12px 0 18px; width:92px; height:40px; justify-content: space-between; align-items:center; margin-right:10px; background: #F6F6F6; border: 1px solid #E7E7E7; border-radius: 30px; box-sizing: border-box; }
.manager-list .btn-sel .txt {margin-right:10px; font-size: 14px; line-height: 20px;  color: #414C5D; vertical-align: middle;}
.manager-list .btn-manager-add> span,
.manager-list .btn-sel > span {position:relative; }



.badge {display:inline-block; width:75px; height:28px; line-height:28px; font-size: 14px; border-radius: 4px; text-align: center; color: #555868; }
.badge.apply {background-color:#CBD9FF}
.badge.consulting {background-color:#AEEADF}
.badge.complete {background-color:#FFE5B3}
.badge.refuse {background-color:#DFE1E7}
.badge.issue {background-color:#FFC1C1}
.badge.self {width:90px;background-color:#556277; color:#fff}
.badge.other {width:90px;background-color:#ABB0BE; color:#fff}

.sort-wrap {position: relative; width:20px 30px; margin-left:6px;}
.sort-wrap .btn-sort:after {position: absolute; left:50%; border-top-color:#7C8094; border-bottom-color:#7C8094}
.sort-wrap .btn-sort.up:after {top:0;}
.sort-wrap .btn-sort.down:after {bottom:0;}
.sort-wrap .btn-sort > span {position:absolute; top:0; left:0; width:1px; height:1px; opacity:0; filter:alpha(opacity=0); zoom:1; text-indent:-9999px; z-index:0; overflow:hidden; }

.inp-select .select2-container {width:100%}
.inp-select .select2-container .select2-selection--single {height:44px; border: 6px; border:1px solid #E7E7E7}
.inp-select .select2-container--default .select2-selection--single .select2-selection__rendered {line-height:44px}
.inp-select .select2-container--default .select2-selection--single .select2-selection__arrow{height:42px; right:5px}

.search-top {margin-bottom:16px; }
.search-top .tx-org {margin-left:6px; font-weight: 700;}
.search-top .txt {margin-right:10px; font-size:15px; font-weight:bold; }
.search-top .tx-gray { font-size:13px; }
.search-top + .inp-line {margin-bottom:6px;}
.manager-box > .checkbox {display:inline-block; padding:16px 0; }
.manager-box strong {font-weight: 700;}
.manager-box .checkbox input.check,
.manager-box .checkbox input.check + label,
.manager-box .checkbox label > * {vertical-align: middle;}
.manager-box .inbox {padding:16px 0; max-height:230px; overflow:auto; border-top: 1px solid #E6E6E6}
.manager-box .inbox .checkbox .box {margin-right:20px;}
.manager-box .inbox .checkbox label {display:inline-block; padding:7px 0;}
.manager-box .inbox .checkbox label > img + * {margin-left:8px}
.manager-box .inbox .checkbox label > .txt {margin-left:6px}

.layer-btn > .btn-bk-line{ min-width:auto; width:107px;}
.layer-btn > .btn-bk { min-width:auto; width:90px;}

.accordion-box { border:1px solid #E5E7EC; border-radius: 8px; overflow: hidden; }
.accordion-box.active {border-color:#02164F}
.accordion-box + .accordion-box {margin-top:12px}
.accordion .accordion-title {position: relative; display:block; width:100%; padding:17px 21px; font-size: 14px; line-height: 20px; color: #7B7B7B; text-align: left;}
.accordion .accordion-title .badge {margin-left:16px; font-weight: 500;}
.accordion .accordion-title:before {display:inline-block; width:23px; height:23px; background:url(../images/common/ico_accordion-arrow.png) no-repeat center; content:''; vertical-align: middle; transition: all .5s;}
.accordion .active .accordion-title:before {transform:rotate(180deg)}
.accordion .accordion-title .date {position: absolute; top:50%; transform:translateY(-50%); right:21px; z-index: 1;}
.accordion .accordion-title + .accordion-cnt .inner {border-top:1px solid #E5E7EC; }
.accordion .accordion-cnt .inner {margin: 0 21px 0 61px; padding:17px 0;}
.accordion .accordion-cnt{	max-height:0;	transition:all 1.5s ; overflow: auto;}
.accordion .active .accordion-cnt {	max-height:500px}
.accordion-cnt dl .head {display:block; float:left; width:90px}
.accordion-cnt dl .head + dd {overflow: hidden;}
.accordion-cnt dl dd + dd {width:100%; padding-left:90px;}
.accordion-cnt .info-list > li {margin-bottom:10px}
.accordion-cnt .info-list > li .ico {margin-right:8px}
.accordion-cnt .info-list > li strong + var {margin-left:5px}

.card .info-list {display:block; margin-top:27px}
.list-linkbox.card  {border:none; padding:0; display: flex; justify-content: flex-start; flex-wrap: wrap; align-items: center;}
.list-linkbox.card  > li {position: relative; padding:20px 18px;width:33%;  border: 1px solid #E5E7EC; box-sizing: border-box; box-sizing: border-box;  border-radius: 6px;}
.list-linkbox.card  > li + li {margin-left:.5%}
.list-linkbox.card  .btn {position: absolute; right:10px; bottom:10px; z-index: 1; font-size:14px}
.list-linkbox.card .info-list .head {display: block; width:100px; float: left;}
.list-linkbox.card .info-list .desc {overflow:hidden}
.list-linkbox.card .btn-link:last-child {float:right}
.list-linkbox.card .info-list > li + li {margin-top:8px}

.list-linkbox.link  {border:none; padding:0; max-height:780px; overflow:auto }
.list-linkbox.link > li + li {margin-top:12px;}
.list-linkbox.link > li {position: relative; padding:20px 18px; border: 1px solid #E5E7EC;  box-sizing: border-box;  border-radius: 6px;}
.list-linkbox.link .info-list {margin-top:27px}
.list-linkbox.link .info-list > li + li {margin-top:8px}
.list-linkbox .checkbox .box {vertical-align: middle;}

.btn-group.btm {position:absolute; bottom:23px; left:0; width:100%; }

.msg-box .msg {margin-bottom:18px; font-weight: bold;  font-size: 14px;  line-height: 20px; color: #41495D;}
.msg-box .checkbox {margin-top:32px;}
.msg-box .tx-gray.sm {display:block; margin-top:10px; margin-bottom:25px; color:#9A9A9A; font-size:12px;line-height: 18px; font-weight: 400;}
.tx-warn {display: block; margin-top:6px}
.tx-darkgray {font-size: 13px;  line-height: 19px; color: #555868;}

.msg-box .list-linkbox {margin:-4px 0 12px;}
.msg-box .list-linkbox:not(card) .badge.position {margin-left:0;}


/* Login */
.center-box .login-wrap {width:100%;}
.empty-box.complete {width:100%; padding-top:100px; background: url(../images/common/bg_login-complete.png) no-repeat top center;}
.empty-box.alert {width:100%; padding-top:100px; background: url(../images/common/bg_login-alert.png) no-repeat top center;}
.login-wrap .sub-title + .sub-txt {margin-top:6px}
.login-wrap .title + .sub-txt {margin-top:16px}
.login-wrap .login-top {margin-bottom:60px;}
.login-wrap .inp:not(:last-child) {margin-bottom:12px;}
.login-wrap .inp-line,
.auth-box .inp-line {margin-bottom:12px;}
.login-wrap .inp-line .inp {margin-bottom:0px;}
.login-wrap .inp:last-child{margin-bottom: 0;}
.login-wrap .btn-l {display:block; width:100%; font-weight:500; box-sizing: border-box;}
.login-wrap .btn-l + .btn-l {margin-top:12px;}
.login-wrap .btn-group .btn-bk,
.login-wrap .btn-group .btn-bk-line {font-weight:700}
.login-wrap .form-btm.tc {padding:23px 0 26px;}
.login-wrap .form-btm .txt {margin-right:4px; font-size: 13px; line-height: 19px;color:#555868}
.login-wrap .inp-title {display:block; margin-bottom:8px; font-weight: bold; font-size: 14px; line-height: 20px; color: #414C5D;}
.login-wrap .warning-txt {margin-bottom:16px}
.login-wrap .warning-txt + .form-btm {padding-top:0;}
.login-wrap .social-login {margin-top:25px;}

.login-wrap .btn-group {margin-top:40px}
.login-wrap .agree-box + .btn-group {margin-top:30px}
.login-wrap .inp-line + .btn-group {margin-top:40px}
.login-wrap .inp-line button {width:110px;}

.warning-txt {padding:12px 14px; padding-left:10px; color:#FF4949; background: #FFDCDC; border-radius: 6px;}
p.line {margin:10px 0; width:100%; height:1px; background-color: #E3E3E3;}
p.line .txt {position:absolute; left:50%; width:44px; height:20px; margin-top:-10px; margin-left:-22px; background-color: #fff; color:#9A9A9A; font-size: 14px; text-align: center; z-index: 1;}

.revise-box {margin-top:30px; margin-bottom:12px;}

.pos {position:absolute; right:12px; top:50%; margin-top:-9px; line-height:20px; font-size: 14px;  }
.pos.auth-time {color:#FF8159}
.pos.btn-pw-show {width:22px; height:22px; background:url(../images/common/ico_pw-show.png) no-repeat center; }
.pos.btn-pw-show.active {background-image:url(../images/common/ico_pw-show-active.png)}

.auth-box {width:420px; margin:28px auto 50px; text-align: center;}
.auth-box .msg {margin-bottom:40px; font-size:15px; line-height:24px; color:#41495D}
.auth-box .msg strong {font-weight: 700; font-size:21px; line-height:33px;}
.agree-box.all {padding:16px; border: 1px solid #E7E7E7;border-radius: 6px;}
.agree-box {padding:16px 16px 10px;}
.agree-box > li + li {margin-top:12px}
.agree-box.all .checkbox input.check:checked + label .box.round { background-color:#1D58FF; border-color:#1D58FF; }
.agree-box.all .checkbox input.check:checked + label .box.round:before,
.agree-box.all .checkbox input.check:checked + label .box.round:after {background-color:#fff;}
.agree-box .checkbox .box {margin-right:12px}
.agree-box .btn-link {font-weight: 400;}

.tbl-top-type02 .sub-title {margin-top:20px}
.tbl-top-type02 .btn-link-type02 {display:inline-block; margin-top:4px;}
.tbl-top-type02 .sm {margin-top:8px; font-size: 11px; line-height: 16px; text-align: center; color: #9A9A9A;}
.info-list.side > li + li {margin-top:14px}
.info-list.side .checkbox input.check + label {font-size:15px;}
.info-list.side .checkbox input.check + label dt { color: #41495D;}
.info-list.side .checkbox input.check + label dd { color: #555868;}
.info-list.side .checkbox input.check:checked + label dt {font-weight:700; color:#02164F}
.info-list.side .checkbox input.check:checked + label dd {font-weight:700; color:#02164F}
.info-list.side .checkbox input.check:checked + label dd .unit {font-size:13px; line-height:18px; }
.info-list.side .checkbox input.check:disabled + label dt {color:#41495D}
.info-list.side .checkbox input.check:disabled + label dd {font-weight:400; line-height:17px; font-size:12px; color:#9A9A9A}

.btn-member-drop {padding:18px 20px 18px 20px; width:100%; border-radius: 6px; border: 1px solid #E4E4E4}
.btn-member-drop.btn-drop-type02 {padding-right:44px}
.btn-member-drop.btn-drop-type02:after {position:absolute; right:20px; top:50%; margin-top:-5px; width:0; height:0;border-left:7px solid transparent; border-right: 7px solid transparent; border-top: 10px solid #02164F; transition:all 1s; content:''}
.btn-member-drop.active {border-color:#02164F;background: #F2F4F8; }
.btn-member-drop.on {color:#1D58FF;background: rgba(29, 88, 255, 0.04); border-color:#1D58FF}
.btn-member-drop.on .price {color:#1D58FF; }
.btn-member-drop.active:after {transform:rotate(180deg)}
.btn-member-drop dl,
.btn-member-drop dd {display: flex; justify-content: space-between; align-self: center;}
.btn-member-drop dt {text-align: left;}
.btn-member-drop .company {font-weight: 500; font-size: 14px; line-height: 20px; color: #41495D;}
.btn-member-drop .desc {display:block; margin-top:6px; font-size: 12px; line-height: 17px; color: #9A9A9A;}
.btn-member-drop .price {float:right; font-size: 18px; line-height: 26px;color: #02164F;}
.service-box {margin-top:20px;}
.service-box .checkbox input.check + label dl,
.service-box .total { justify-content:space-between; align-items:center; }
.service-box .checkbox input.check + label dl {display:inline-flex; margin-left:5px; width:calc(100% - 30px)}
.service-box .total {display:flex;padding:24px 0 10px; border-top:1px solid #E4E4E4;}
.service-box .total .head:not(.sm) {font-weight: bold; font-size: 16px; line-height: 23px;color:#02164F }
.service-box .total .sm {margin-top:3px; font-weight: 400; font-size: 12px; line-height: 17px;color:#9A9A9A }
.service-box .total .total-price {color: #1D58FF; font-size: 13px; line-height: 19px;}
.service-box var.won {margin-right:4px; font-weight: bold; font-size: 20px; line-height: 29px;}
var.won:before {display:inline-block; margin-right:6px; width:22px; height:22px; font-weight:400; font-size:16px; line-height:22px; background: #1D58FF; border-radius:50%; text-align:center; color:#fff; content:'₩'}

.btn-dark-gray {background: #A3A9BA; border-radius: 6px; color:#fff}
.btn-dark-gray:disabled {background: #eee;}


.member-info-title {font-weight: bold; font-size: 12px; line-height: 17px; color: #7B7B7B;}
.member-box {margin-top:8px}
.member-box .info-box .box {padding:12px 14px; border:1px solid #E9E9E9;border-radius: 4px;}
.member-box .info-box .box.active {border-color:#02164F}
.member-box .info-box .box + .box {margin-top:8px}
.member-box .info-box .box .member-info-list {margin-top:14px}
.member-box .info-box .box .member-info-list > li + li {margin-top:4px}
.member-box .info-box .box .member-info-list .head {font-weight: bold; font-size: 14px; line-height: 20px; color: #41495D;}
.member-box .info-box .box .member-info-list .desc {margin-left:10px; font-size: 13px; line-height: 19px; color: #7B7B7B;}
.member-box .dot-list {margin:20px 0 36px }


.login-wrap .inp-phone {margin-bottom:12px; display: flex; justify-content: space-between; align-items: center;}
.login-wrap .inp-phone .inp {width:24%; margin-bottom:0}
.inp.range input:first-child {width:60px;}
.inp.range input:last-child {width:100px;}
.inp.pw input {width:60px;}

.estimate-list::after {display: block; clear: both; content: '';}
.estimate-list > li {float:left;position: relative;}
.estimate-list .btn-form-menu {position: absolute; top:15px; right:15px;z-index: 1;}
.estimate-list > li + li {margin-left:20px;}
.btn-form {width: 274px; height: 170px;padding:20px 14px; text-align:left; border: 1px solid #E7E7E7; box-sizing: border-box; border-radius: 6px;font-size: 15px; line-height: 22px; color: #555868;}
.btn-form .dropdown-wrap {position: absolute; top:0; left:0; width:100%; height:100%; z-index: 1;}
.btn-form .dropdown-box {right:-81px; }