@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

input,button {font-family: inherit;}
html, body {font-size:14px; font-family: 'Noto Sans KR', sans-serif;} 
/* skip */
#skip a {
  position: absolute;
  top: 0;
  left: -9999px;
}

#skip a:focus,
#skip a:active {
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #000;
  text-align: center;
  font-size: 14px;
  color: #fff;
  z-index: 999
}

/* common */
.pr {
  position: relative;
}

.fl {
  float: left
}

.fr {
  float: right
}

.clear:after {
  display: block;
  content: "";
  clear: both;
}

.area {
  width: 1200px;
  margin: 0 auto;
}

.alLeft {
  text-align: left
}

.alCenter {
  text-align: center
}

.alRight {
  text-align: right
}

.num-box {
  margin: 0 2px;
  padding: 0 4px 4px;
  border: 1px solid #dee2e6;
  background-color: #fff;
  font-weight: bold;
  font-family: Helvetica, "NannumGothic", "Nanum Gothic", sans-serif;
  font-size: 18px;
  color: #f60
}

.icon-txt {
  position: relative;
  display: inline-block;
  font-size: 18px;
  vertical-align: middle
}

.txt-red {
  color: #bc243c
}

.txt-gray {
  color: #666
}

a[class*="btn"],
button[class*="btn"] {
  display: inline-block;
}

.btn-basic {
  padding: 0 10px;
  border: 1px solid #dee2e6;
  background: #fff;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  transition: all .1s ease-in-out;
  user-select: none;
  white-space: nowrap;
  font-weight: 400;
  font-family: "돋움", Dotum, sans-serif;
  vertical-align: middle;
}

.btn-basic.active,
.btn-basic:hover {
  background-color: #eee;
  ;
  color: #333;
}

.btn-orange {
  background: orange;
  color: #fff;
}

.btn-cal {
  padding: 10px 20px;
  line-height: 20px;
  font-size: 15px;
  letter-spacing: -0.5px;
  color: #777
}

.btn-cal:hover {
  background: #eee;
  color: #333;
}

.btn-region {
  font-weight: bold;
  font-size: 32px;
}

.btn-region>svg {
  font-size: 20px;
  vertical-align: middle;
}

.btn-show {
  margin-top: -20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 50%;
}

.btn-location {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px 10px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  color: #fff;
  z-index: 1
}

.btn-location>svg {
  margin-right: 3px;
}

.btn-heart {
  position: absolute;
  padding: 8px;
  top: 0;
  right: 0;
  font-size: 26px;
  color: #fff;
  z-index: 1
}

.btn-srh {
  width: 50px;
  height: 50px;
  line-height: 50px;
}

.btn-remove {
  margin: 5px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  background: #eee;
  border-radius: 50%;
}

.btn-srh:after,
.btn-remove:after {
  display: inline-block;
  margin: 0 auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: FontAwesome;
  color: #999
}

.btn-srh:after {
  content: '\f002';
  font-size: 24px;
}

.btn-remove:after {
  content: '\f00d';
  font-size: 14px;
  color: #fff;
}

.btn-refresh {
  position: relative;
  padding: 16px 10px 16px 26px;
  margin-top: -14px;
  color: orange
}

.btn-refresh:after {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 5px;
  width: 14px;
  height: 14px;
  line-height: 14px;
  margin-top: -7px;
  font-family: FontAwesome;
  text-align: center;
  content: '\f021';
  color: orange
}

.btn-link {
  font-size: 14px;
  color: orange
}

.btn-apply {
  border: 1px solid #da2221;
  background: #da2221;
  font-size: 14px;
  color: #fff;
}

.btn-group .btn-apply {
  padding: 12px 10px;
}

.btn-group {
  text-align: center;
  font-size: 0;
}

.btn-group .btn-basic {
  padding: 12px;
  border: 1px solid #ddd;
  font-weight: bold;
  color: #777;
  border-radius: 2px;
}

.btn-group>span {
  display: inline-block;
  width: 49.5%;
  height: 45px;
  margin-right: 0.5%;
}

.btn-group>span:last-child {
  margin-right: 0
}

.btn-group>span:first-child:last-child {
  width: 100%
}

.btn-group>span a,
.btn-group>span button {
  width: 100%;
  height: 100%;
}

.btn-group>span>a,
.btn-group>span>button {
  display: table;
  width: 100%;
  height: 100%;
  padding: 12px 3px;
  line-height: 16px;
  word-break: keep-all;
}

.btn-group a span,
.btn-group button span {
  display: table-cell;
  vertical-align: middle;
}

.btn-group.vertical a,
.btn-group.vertical button {
  display: table;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  padding: 12px 3px;
}

.btn-group.right {
  text-align: right;
}

.btn-group.right a,
.btn-group.right button {
  width: auto;
  margin-left: 5px;
  font-size: 14px;
}

/* form */
input {
  display: inline-block;
  padding: 10px;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box
}

/* #header */

/* #footer */

/* bottom-bar */
.bottom-bar {
  display: none;
  z-index: 1000;
  position: relative;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 50px;
  border-top: 1px solid #dee2e6;
  background-color: #fff;
}

.bottom-bar ul {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.bottom-bar ul li {
  width: 25%;
  text-align: center;
}

.bottom-bar ul li a {
  font-size: 13px;
  color: #333
}

.bottom-bar ul li a .icon-txt {
  display: block;
  margin: 0 auto;
  padding: 0
}

/* layout */
.container-wrap .cnt-wrap {
  position: relative;
  width: 66%;
  margin-right: 350px;
}

.container-wrap .aside-wrap {
  position: absolute;
  top: 10px;
  right: 0;
  width: 340px;
  z-index: 1;
}

.fixed .tab-type1 {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100
}

.fixed .aside-wrap {
  position: fixed;
  width: 320px;
  top: 54px;
  background: #fff;
  z-index: 100
}

/* sub */
#wrap {
  background: #fff
}

.container-wrap {
  position: relative;
  padding: 10px 0;
  margin: 20px auto;
  border-bottom: 1px solid #eee;
  width: 1200px;
}

.container-title .title {
  font-size: 32px;
  letter-spacing: -0.5px
}

.container-title .title .title-txt {
  display: inline-block;
  margin-right: 10px;
  color: #999;
}

.container-title .ui-side-rt {
  top: 10px;
}

.sub-title {
  display: block;
  line-height: 20px;
  font-size: 13px;
  padding: 7px 0;
}

/* accordion */
.accBox {
  margin: 0px auto;
}

.accBox>li {
  position: relative;
  border-bottom: 1px solid #eee;
  padding: 10px 20px;
}

.accBox li .question,
.accBox>li>span {
  display: block;
  padding: 16px 10px;
  font-size: 15px;
  font-family: Dotum, '맑은 고딕', AppleGothic, sans-serif;
  color: #111
}

.accBox li .question>span {
  position: relative;
  display: block;
  padding-right: 20px;
}

.accBox li .question .txt-orange {
  color: orange;
  font-size: 12px;
  margin-left: 8px;
}

.accBox li .question span:after {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0px;
  width: 14px;
  height: 14px;
  line-height: 14px;
  margin-top: -7px;
  font-family: FontAwesome;
  text-align: center;
  content: '\f078';
  font-size: 11px;
  color: #ccc
}

.accBox li .question:hover,
.accBox li .question:focus {
  color: #666
}

.accBox li.on .question {
  border-bottom: 0;
  font-weight: bold;
  color: #000
}

.accBox li .answerBox {
  display: none;
  padding: 10px 0px;
}

.accBox li .answerBox .answer p {
  line-height: 24px;
  color: #55565a
}

.accBox li .question .btn-refresh {
  position: absolute;
  top: 16px;
  right: 0;
}

.answerBox .checks {
  margin-bottom: 16px;
}

.btn-allopen {
  position: absolute;
  right: 25px;
  top: 55px;
  padding: 10px;
  padding-right: 16px;
  font-size: 12px;
  color: #333;
}

.btn-allopen:after {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0px;
  width: 10px;
  height: 10px;
  line-height: 10px;
  margin-top: -5px;
  font-family: FontAwesome;
  text-align: center;
  content: '\f078';
  font-size: 11px;
  color: #333
}

/* table */
.tbl-type01 table {
  width: 100%;
  border: 1px solid #dee2e6;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.3s
}

.tbl-type01 table:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.tbl-type01 table thead tr th {
  background: #efefef;
  font-size: 14px;
}

.tbl-type01 table tr th,
.tbl-type01 table tr td {
  text-align: center;
  padding: 8px 15px;
  border-bottom: 1px solid #dee2e6;
  letter-spacing: -1px;
  vertical-align: middle;
  word-break: keep-all;
  line-height: 20px;
  font-size: 13px;
  color: #333;
}

.tbl-type01 table tbody tr:hover th,
.tbl-type01 table tbody tr:hover td {
  background-color: #fafafa
}


/* fixed menu */
.fixed-menu {
  position: fixed;
  right: 30px;
  bottom: 30px;
}

.fixed-menu a {
  display: block;
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  background-color: #a30005;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-indent: -9999px;
  transition: box-shadow 0.3s ease-in-out;
}

.fixed-menu a:hover {
  box-shadow: 0 8px 12px 0 rgba(81, 99, 120, 0.3)
}

.fixed-menu .btn-chat {
  background-image: url(../images/plugin-bubble-icon-white.png)
}

.fixed-menu .btn-gotop {
  background-image: url(../images/chevron-arrow-up.png);
  background-size: 24px;
}

/* layer */
.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100
}

.tr-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1
}

.layerpop {
  display: none;
  position: absolute;
  left: 0%;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
}

.layer-cnt {
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5000;
  box-shadow: 0 0 15px hsla(0, 0%, 0%, .8);
  overflow: hidden
}

.layer-close {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  background: url("../images/clear-button.png") no-repeat center /cover
}

.layer-container {
  padding: 20px;
  background: #fff
}

.layerpop.imgslider {
  background-color: none
}

.layerpop.imgslider .layer-container {
  padding: 0;
  background-color: none
}

/* oprion box */
.option-wrap {
  position: relative;
  display: inline-block;
}

.option-box {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  width: 200px;
  background: #fff;
  border: 1px solid #ddd;
  color: #333;
  z-index: 10;
}

.option-box.cal {
  left: auto;
  right: 0;
  width: 500px;
  height: 200px;
  background: #fff;
  border: 1px solid #ddd;
  z-index: 1000
}

/* 2019-07-27 추가 */
.option-box ul li {
  position: relative;
}

/* absolute 안에 relative 어긋나지 않는지 확인 필요 */
.option-box ul li a {
  display: block;
  padding: 10px 20px;
  line-height: 20px;
}

.option-box ul li a .txt {
  font-size: 13px;
}

/* 2019-07-27 추가 */
.option-box .ui-side .ui-side-lt {
  display: block;
  padding-right: 30px;
}

.option-box .ui-side .ui-side-rt {
  display: inline-block;
  top: 50%;
  right: 20px;
  margin-top: -10px;
  width: 30px;
  height: 100%;
  font-size: 13px;
  text-align: center;
}

/* height:100%를 위해서 li 에 relative 줌 */


/* side ui */
.ui-side {
  position: relative;
}

.ui-side .ui-side-rt {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

/* width는 각 컨텐츠 별로 지정하기 */

/* container list */
.total-list-wrap {
  height: 112px;
  overflow: hidden;
}

.total-list-wrap .ui-side-rt {
  top: 50%;
  margin-top: -20px;
}

.total-list:after {
  display: block;
  clear: both;
  content: ''
}

.total-list li {
  float: left;
  margin-left: 6px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  width: 100px;
  box-sizing: content-box
}

.total-list li a {
  display: block;
  background: url("../images/example2.jpg") no-repeat
}

.total-list li:first-child,
.total-list li:nth-child(9n+1) {
  margin-left: 0;
}

.total-list li .txt {
  display: inline-block;
  background-color: #fff;
  margin-top: 80px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  border-top: 1px solid #ddd;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  vertical-align: bottom;
  box-sizing: border-box
}

.total-list li.on .txt {
  background: orange;
  color: #fff;
  font-weight: bold
}

/* 2019-07-27 추가 */

/* img-list */
.slick-prev {
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  left: 1%;
  z-index: 100
}

.slick-next {
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  right: 1%;
  z-index: 100
}

.slick-prev:before,
.slick-next:before {
  font-size: 40px
}

.container-title {
  padding: 10px 0;
  font-weight: normal;
}

.container-title+.total-list-wrap {
  margin: 10px 0;
  padding-right: 50px
}

.container-title+.img-list {
  margin: 30px 0;
}

.img-list>ul:after {
  display: block;
  clear: both;
  content: ''
}

.img-list>ul>li {
  float: left;
  width: 24%;
  margin-bottom: 20px;
  margin-left: 1.3%;
}

.img-list.slider .slick-slide {
  padding: 10px
}

.img-list>ul>li:first-child,
.img-list>ul>li:nth-child(4n+1) {
  margin-left: 0;
}

.img-list.slider .product .slick-slider {
  width: 225px;
  padding: 10px;
}

.img-list.slider:after {
  display: block;
  content: '';
  clear: both;
}

/* product */
.product {
  position: relative;
}

.product .img {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 180px;
  background: url("../images/example.jpg") no-repeat center;
  background-size: cover;
}

.product .img .sale {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 3px 10px;
  background: #da2222;
  font-size: 12px;
  color: #fff;
}

.product .title {
  display: block;
  padding: 5px 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}

.product .title:hover {
  text-decoration: underline;
  color: #333
}

.product .status {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product .status span {
  position: relative;
  display: inline-block;
  padding-right: 10px;
  font-size: 12px;
  color: #666;
}

.product .status span:last-child::after {
  display: none;
}

.product .status span:after {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 auto;
  content: '•';
  font-size: 11px;
  color: #666
}

.product .status .star {
  color: #f79921;
  vertical-align: middle;
}

.product .status .comment {}

.product .status .range {}

.product .status .option {}

.product .price {
  margin-top: 10px;
}

.product .price .txt {
  line-height: 24px;
  font-size: 16px;
  color: #000
}

.product .price .txt2 {
  letter-spacing: -0.5px;
  font-size: 12px;
  color: #999
}

.product.sale-type .price .txt {
  font-weight: bold;
  font-size: 18px;
  color: #da2222
}

.product.sale-type .price .txt2 {
  text-decoration: line-through;
  color: #888
}

.product.sale-type .sale {
  display: block;
}

/* tagbox */
.tagbox a,
.tagbox button {
  vertical-align: middle;
}

.tagbox .btn-tag {
  margin-bottom: 5px;
}

.btn-tag {
  position: relative;
  padding: 3px 10px 3px 16px;
  line-height: 1.5;
  background: #fff;
  border-radius: 20px;
  border: 1px solid #ddd;
  font-size: 12px;
  color: #777;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.btn-tag:before {
  display: inline-block;
  position: absolute;
  top: 50%;
  width: 14px;
  height: 14px;
  line-height: 14px;
  margin-top: -7px;
  left: 5px;
  content: '#';
}

/* .btn-tag:after {right:5px; font-family: FontAwesome; content:'f00d';} */

/* list */
.recent-list li a {
  display: block;
  padding: 5px 0;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 24px;
  font-size: 12px;
  color: #333;
  font-family: MalgunGothic, '맑은 고딕', AppleGothic, sans-serif;
  transition: all 0.3s
}

.recent-list li a:hover {
  background: #fafafa;
  color: #666;
}

/* tab-type1 */
.tab-type1 {
  background: #fafafa;
  border-bottom: 1px solid #ddd;
}

.tab-type1 ul {
  width: 100%;
  font-size: 0px
}

.tab-type1 ul li {
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 15px;
}

.tab-type1 ul li a {
  display: inline-block;
  padding: 12px 15px;
  line-height: 20px;
  font-size: 13px;
  color: #666
}

.tab-type1 ul li a:hover,
.tab-type1 ul li.on a:hover {
  color: #888;
  font-weight: bold;
}

.tab-type1 ul li:after {
  display: inline-block;
  line-height: 45px;
  position: absolute;
  top: 0;
  right: -5px;
  margin: 0 auto;
  content: '•';
  font-size: 11px;
  color: #999
}

.tab-type1 ul li:last-child::after {
  display: none;
}

.tab-type1 ul li.on a {
  position: relative;
  font-weight: bold;
  color: #000
}

.tab-type1 ul li.on a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: orange;
  content: ''
}


/* box */
.aside-box {
  padding: 10px;
  box-sizing: border-box
}

.aside-box.box {
  width: 100%;
  padding: 20px;
  border: 1px solid #da2221
}

.aside-box .title {
  font-weight: normal;
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 1.5;
  color: #333;
}

.aside-box .title .sale {
  margin-left: 5px;
  color: #da2221;
}

.aside-box .title svg {
  font-size: 15px;
}

.aside-box .date {
  display: inline-block;
  line-height: 20px;
  font-size: 12px;
  letter-spacing: -0.2px;
  color: #333
}

.aside-box .btn-group {
  margin-bottom: 10px;
}

.aside-box .sub-title {
  padding: 10px 0px 10px 10px;
  font-size: 16px;
  font-family: Arial, sans-serif !important
}

.seller-data li {
  margin-bottom: 10px;
}

.seller-data .img {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url("../images/example.jpg") no-repeat center center/cover;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  text-align: center;
  vertical-align: middle;
}

.seller-data .seller-cnt {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  box-sizing: border-box
}

.seller-data .seller-cnt .title {
  margin-top: 3px;
  line-height: 20px;
  font-size: 16px;
  color: #111;
}

.seller-data .seller-cnt .title:hover {
  color: #666;
}

.img-slider-wrap {
  position: relative;
  height: 450px;
}

.img-slider-wrap .img {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/example3.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.img-slider-wrap .btn-heart {
  padding: 10px 16px;
  top: 10px;
  right: 10px;
}

.img-slidser-wrap .btn-heart:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.img-slider-wrap .btn-thumnail {
  display: block;
  width: 50px;
  height: 40px;
  position: absolute;
  padding: 10px 16px;
  bottom: 10px;
  right: 10px;
  background: #fff;
  border-radius: 5px;
  font-size: 20px;
  color: #666
}

.img-slider-wrap .btn-thumnail:hover {
  color: #333;
  background: #e6e6e6
}

.img-slider-wrap .btn-thumnail:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.img-slider-wrap .btn-thumnail svg {
  vertical-align: top;
}

.badge {
  display: inline-block;
  position: absolute;
  top: -5px;
  right: -7px;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  background: #333;
  color: #fff;
  ;
  border-radius: 50%;
}

.review-img {
  display: block;
  width: 100%;
  height: 300px;
  background: url("../images/example3.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.product-info {
  padding: 10px 0;
}

.product-info span,
.product-info p,
.product-info ul li {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
  font-family: Dotum, Arial, sans-serif !important;
  word-break: break-all
}

.product-info+.product-info {
  border-top: 1px solid #ddd;
}

.product_summary {
  padding: 16px 0;
  text-align: center;
  border-top: 1px solid #eee;
}

.product_summary:after {
  display: block;
  clear: both;
  content: ''
}

.product_summary li {
  float: left;
  width: 20%
}

.product_summary li svg {
  display: block;
  margin: 0 auto;
  font-size: 32px;
  color: #888;
}

.product_summary li .attr {
  display: block;
  padding: 5px 0;
  font-size: 10px;
  color: #888;
  font-family: Arial, sans-serif !important
}

.product_summary li .cnt {
  display: block;
  color: #111;
  font-size: 12px;
  word-break: keep-all;
}

.location li {
  position: relative;
  display: inline-block;
  padding: 0 10px;
}

.location li:after {
  position: absolute;
  right: -6px;
  width: 12px;
  height: 12px;
  font-size: 12px;
  content: '>';
  text-align: center;
  color: #888
}

.location li:last-child::after {
  display: none;
}

.location {
  margin-bottom: 20px;
}

.location .country {
  position: relative;
  padding-left: 20px;
}

.location .country:before {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 5px;
  width: 14px;
  height: 14px;
  line-height: 14px;
  margin-top: -7px;
  font-family: FontAwesome;
  text-align: center;
  content: '\f041';
  font-size: 16px;
}

.tour-info .title {
  font-size: 26px;
  margin: 20px 0;
  line-height: 1.25;
}

.tour-info .info {
  margin-bottom: 15px;
}

.info .rating {
  font-size: 10px;
  color: #f79921;
  vertical-align: middle;
}

.info .txt-gray {
  font-size: 11px;
  color: #888;
  vertical-align: middle;
}

.cal-control:after {
  display: block;
  content: '';
  clear: both;
}

.cal-control li {
  float: left;
  padding: 10px;
  width: 25%;
}

.cal-control .input-txt input,
.cal-control .input-txt select,
.cal-control .btn-orange {
  width: 100%;
  height: 38px;
  border-radius: 2px;
}

.cal-control .label {
  display: inline-block;
  margin-bottom: 5px;
}

.calculate-line+.calculate-line {
  border-top: 1px solid #eee
}

.calculate-box {
  border: 1px solid orange;
  padding: 15px;
  border-radius: 2px;
}

.calculate-line {
  padding: 10px
}

.calculate-line:after {
  display: block;
  clear: both;
  content: '';
}

.calculate-line .label {
  float: left;
  width: 50%;
  font-size: 12px;
  color: #000
}

.calculate-line .cnt {
  float: right;
  width: 50%;
  text-align: right;
  line-height: 24px;
}

.calculate-line .cnt .price {
  margin: 5px 0;
}

.calculate-line .cnt .price .txt {
  font-weight: bold;
  font-size: 18px;
  color: #da2222
}

.calculate-line .cnt .price .txt2 {
  text-decoration: line-through;
  color: #888
}


.btn-red {
  background: #da2221;
  color: #fff !important;
}

.btn-red:hover {
  background: #cc0033;
  color: #fff;
}

.txt-orange {
  color: orange
}

/* review-box */
.review-box {
  margin-top: 10px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.review-profile {
  padding: 10px;
  padding-right: 100px;
  background: #fefefe;
}

.review-profile .img {
  display: inline-block;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: url("../images/example.jpg") no-repeat center center/cover;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  text-align: center;
  vertical-align: middle;
}

.review-profile .date {
  top: 50%;
  right: 15px;
  margin-top: -7px;
}

.review-top {
  padding: 10px 20px;
}

.review-top .title {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.review-case {
  position: relative;
  padding-left: 22px;
  color: orange
}

.review-case:after {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 5px;
  width: 14px;
  height: 14px;
  line-height: 14px;
  margin-top: -7px;
  font-family: FontAwesome;
  text-align: center;
  content: '\f02b';
  font-size: 16px;
  color: orange
}

.review-cnt,
.review-answer {
  padding: 16px 20px;
}

.review-answer {
  border-top: 1px dashed #eee
}

/* timeline */
.timeline {
  position: relative;
}

.timeline:after {
  position: absolute;
  width: 1px;
  left: 13px;
  top: 20px;
  bottom: 30px;
  border-right: 3px dotted #ddd;
  content: ''
}

.btn-course {
  position: relative;
  padding: 10px 0 10px 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  font-weight: bold;
}

.btn-course:before {
  position: absolute;
  left: 0;
  top: 4px;
  width: 28px;
  height: 28px;
  background: #eee;
  border-radius: 50%;
  content: '';
  z-index: 2;
  transition: all 0.5s;
}

.btn-course:after {
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 0px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  font-family: FontAwesome;
  text-align: center;
  content: '\f041';
  font-size: 14px;
  color: #fff;
  z-index: 2;
}

.timeline li {
  display: none;
  margin-bottom: 10px;
}

.timeline li:nth-child(-n+4) {
  display: block;
}

.btn-course:hover::before,
.timeline li.on .btn-course::before {
  background: orange;
}

.timeline li.pickup {
  display: block;
}

.timeline li.pickup .btn-course::before {
  background: #03a9f4
}

.timeline li.pickup .btn-course::after {
  content: '\f024'
}

.btn-more {
  position: relative;
  padding: 10px 0 10px 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  font-weight: bold;
}

.btn-more::before {
  position: absolute;
  left: 0;
  top: 4px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  content: '';
  z-index: 2;
  transition: all 0.5s;
  background: #ddd;
}

.timeline li.more {
  display: block;
}

.timeline li.more .btn-more::after {
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 0px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  font-family: FontAwesome;
  text-align: center;
  font-size: 14px;
  color: #fff;
  z-index: 2;
  content: '\f067'
}

.box-course {
  display: none;
  padding: 10px 0 10px 35px;
}

.box-course {
  display: none;
  padding: 10px 0 10px 35px;
}

.box-course ul li {
  margin-bottom: 2px;
  line-height: 1.5;
}

.box-course .cnt {
  display: inline-block;
  width: calc(100% - 110px);
  margin-left: 16px;
}

.box-course .cnt ul {
  display: inline-block;
  vertical-align: middle;
}

.box-course .img {
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 2px;
  background: url("../images/example.jpg");
  vertical-align: middle;
}

.box-course .cnt+p {
  margin-top: 5px;
}

/* img slider */


.gallery-slider {
  overflow: hidden;
}

.gallery-slider a {
  display: block;
}

.gallery-slider .visual li,
.gallery-slider .prev,
.gallery-slider .next,
.gallery-slider .play_stop,
.gallery-slider .paging {
  position: absolute
}

.gallery-slider,
.gallery-slider .visual,
.gallery-slider .visual li,
.gallery-slider .visual li a {
  width: 100%;
  height: 800px
}

.gallery-slider .visual li {
  top: 50%;
  left: 150%;
  transform: translate(-50%, -50%);
}

.gallery-slider .visual li.list1,
.gallery-slider .visual li:first-child {
  left: 50%;
}

.gallery-slider .visual li a {
  width: 100%;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover
}

.gallery-slider .visual li.list1 a {
  background-image: url("../images/example.jpg")
}

.gallery-slider .visual li.list2 a {
  background-image: url("../images/example2.jpg")
}

.gallery-slider .visual li.list3 a {
  background-image: url("../images/example.jpg")
}

/* 이전, 다음 */
.gallery-slider .prev_next a {
  margin-top: -40px;
  top: 50%;
  width: 80px;
  height: 80px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 30px;
}

.gallery-slider .prev_next .prev {
  left: 2%;
}

.gallery-slider .prev_next .next {
  right: 2%
}


.gallery-slider .play_stop,
.gallery-slider .paging {
  bottom: 30px;
  left: 50%;
}

/* play, stop */
.gallery-slider .play_stop {
  margin-left: 13px
}

.gallery-slider .play_stop a {
  display: none;
  width: 50px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  color: #fff
}

.gallery-slider .play_stop a.on {
  display: block
}

.gallery-slider .play_stop .play {
  background: red
}

.gallery-slider .play_stop .stop {
  background: blue
}

/* paging */
.gallery-slider .paging {
  position: absolute;
  left: 50%;
  bottom: 20px;
  width: auto;
}

.gallery-slider .paging li {
  float: left;
  width: 12px;
  height: 12px;
  margin-right: 10px
}

.gallery-slider .paging li a {
  display: block;
  background: #fff;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-indent: -9999px
}

.gallery-slider .paging li.on a {
  background: #000;
}

.heightLimit {
  height: 400px;
  overflow: hidden;
}

/* media query */
@media all and (max-width: 1280px) {}

@media all and (max-width: 1080px) {
  .container-wrap {
    width: auto
  }

  .container-wrap .cnt-wrap {
    width: 100%;
    margin-right: 0px;
  }

  .container-wrap .aside-wrap {
    display: none !important;
    width: 320px;
  }

  .total-list li {
    float: left;
    margin-left: 6px;
    margin-bottom: 10px;
    width: 100px;
  }

  .total-list li:first-child,
  .total-list li:nth-child(9n+1) {
    margin-left: 0;
  }
}

@media all and (max-width: 768px) {
  .container-wrap {
    width: 750px
  }

  .container-wrap .cnt-wrap {
    margin-right: 260px;
  }

  .container-wrap .aside-wrap {
    width: 250px;
  }
}

/* 추가 수정  */
.option-wrap.ui-side-rt {
  z-index: 10
}

/* 2019-07-27 추가 */

.arrow:after {
  
  width: 0;
  height: 0;
  content: '';
}
.arrow.left:after ,
.arrow.right:after {
  border-top:
    6px solid transparent;
  border-bottom:
    6px solid transparent;
  
  
}
.arrow.top:after ,
.arrow.down:after {
  border-left:
    6px solid transparent;
  border-right:
    6px solid transparent;
  
  
}

.arrow.right:after {
  border-left:
    6px solid black;
}
.arrow.left:after {
  border-right:
    6px solid black;
}
.arrow.top:after {
  border-bottom:
    6px solid black;
}
.arrow.down:after {
  border-top:
    6px solid black;
}
